/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body {
	margin: 0% 20% 0% 20%;
}

header {
	width: 100%;
}

a {
	display: inline-block;
	padding: 3% 3% 0% 3%;
	text-decoration: none;
	color: silver;
}


.logo {
	position: absolute;
	top: 2%;	
	right: 20%;
}

#intlogo {
	width: 100%;
	margin-bottom: 60%;
}

h1 {
	display: inline-block;
	position: absolute;
	width: 40%;
	font-size: 9.8vh;
	letter-spacing: 2px;
	font-weight: bold;
	padding: 8% 10% 5% 10%;
	text-align: center;
}

h2 {
	font-weight: bold;
}

#intlogo > img {
	display: inline-block;
	position: absolute;
	padding-top: 5%;
	width: 25%;
	right: 20%;
}

#intlogo > button {
	display: block;
	position: absolute;
	top: 53%;
	left: 34.7%;
	border: black solid 1px;
	background-color: white;
	color: black;
	font-family: 'Titillium Web', sans-serif;
	padding: 0.3% 3% 0.3% 3%;
}

#featabout {
	border-top: black solid 1.5px;
	padding-top: 4%;
	padding-bottom: 4%;
}

.fa {
	display: inline-block;
	width: 49.5%;
}

.fa:last-child {
	padding-left: 2%;
}

.middle-img {
	width: 100%;
	margin-bottom: 4%;
}


#seprvi {
	border-bottom: black solid 1.5px;
	padding-bottom: 4%;
}

.spv {
	display: inline-block;
	width: 33%;
}

footer {
	width: 100%;
}

address {
	padding-top: 4%;
	padding-bottom: 4%;	
}

#cr {
	text-align: center;
	margin-bottom: 4%;
}





